/* line 1, ../../scss/deck/deck.scss */
.reveal-viewport {
  width: 100%;
  height: 100%;
}

/* line 7, ../../scss/deck/deck.scss */
.reveal .slides > section {
  height: 700px;
  font-weight: inherit;
  padding: 0;
}
/* line 11, ../../scss/deck/deck.scss */
.reveal .slides > section > section {
  height: 700px;
  font-weight: inherit;
  padding: 0;
}
/* line 17, ../../scss/deck/deck.scss */
.reveal h1 {
  font-size: 2.50em;
  margin-bottom: 0.15em;
}
/* line 21, ../../scss/deck/deck.scss */
.reveal h2 {
  font-size: 1.90em;
  margin-bottom: 0.2em;
}
/* line 25, ../../scss/deck/deck.scss */
.reveal h3 {
  font-size: 1.30em;
  margin-bottom: 0.25em;
}
/* line 29, ../../scss/deck/deck.scss */
.reveal h4, .reveal h5, .reveal h6 {
  font-size: 1.00em;
  margin-bottom: 0.25em;
}
/* line 33, ../../scss/deck/deck.scss */
.reveal p {
  margin-bottom: 0.25em;
}
/* line 36, ../../scss/deck/deck.scss */
.reveal a {
  text-decoration: none;
}
/* line 39, ../../scss/deck/deck.scss */
.reveal b, .reveal strong {
  font-weight: bold;
}
/* line 42, ../../scss/deck/deck.scss */
.reveal em {
  font-style: italic;
}
/* line 45, ../../scss/deck/deck.scss */
.reveal sup {
  vertical-align: super;
}
/* line 48, ../../scss/deck/deck.scss */
.reveal sub {
  vertical-align: sub;
}
/* line 51, ../../scss/deck/deck.scss */
.reveal small {
  font-size: 0.6em;
}
/* line 54, ../../scss/deck/deck.scss */
.reveal ol, .reveal dl, .reveal ul {
  display: inline-block;
  margin: 0.25em 0 0.25em 1.5em;
  text-align: left;
}
/* line 59, ../../scss/deck/deck.scss */
.reveal ol {
  list-style-type: decimal;
}
/* line 62, ../../scss/deck/deck.scss */
.reveal ul {
  list-style-type: disc;
}
/* line 64, ../../scss/deck/deck.scss */
.reveal ul ul {
  list-style-type: square;
  display: block;
  margin-left: 1.5em;
}
/* line 66, ../../scss/deck/deck.scss */
.reveal ul ul ul {
  list-style-type: circle;
}
/* line 72, ../../scss/deck/deck.scss */
.reveal ul ol {
  display: block;
  margin-left: 1.5em;
}
/* line 78, ../../scss/deck/deck.scss */
.reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 1.5em;
}
/* line 83, ../../scss/deck/deck.scss */
.reveal dt {
  font-weight: bold;
}
/* line 86, ../../scss/deck/deck.scss */
.reveal dd {
  margin-left: 1.5em;
}
/* line 89, ../../scss/deck/deck.scss */
.reveal q {
  quotes: none;
  font-style: italic;
}
/* line 93, ../../scss/deck/deck.scss */
.reveal blockquote {
  display: block;
  margin: 0.25em auto;
  font-style: italic;
}
/* line 97, ../../scss/deck/deck.scss */
.reveal blockquote:before {
  content: "\201C";
  display: inline-block;
  padding: 0 0.15em;
  font-size: 2em;
  line-height: 1em;
  height: 1px;
  vertical-align: top;
}
/* line 107, ../../scss/deck/deck.scss */
.reveal blockquote > :first-child {
  margin-top: 0;
  display: inline;
}
/* line 111, ../../scss/deck/deck.scss */
.reveal blockquote > :last-child {
  margin-bottom: 0;
}
/* line 116, ../../scss/deck/deck.scss */
.reveal pre {
  display: block;
  position: relative;
  margin: 0.25em auto;
  text-align: left;
  font-family: monospace;
  line-height: 1.2;
  word-wrap: break-word;
}
/* line 125, ../../scss/deck/deck.scss */
.reveal code {
  font-family: monospace;
}
/* line 128, ../../scss/deck/deck.scss */
.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  word-wrap: normal;
}
/* line 134, ../../scss/deck/deck.scss */
.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 138, ../../scss/deck/deck.scss */
.reveal table th {
  font-weight: bold;
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}
/* line 144, ../../scss/deck/deck.scss */
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}
/* line 149, ../../scss/deck/deck.scss */
.reveal table tr:last-child td {
  border-bottom: none;
}
/* line 153, ../../scss/deck/deck.scss */
.reveal .speaker-notes {
  white-space: pre-wrap;
}

/* line 160, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="image"] .sl-block-placeholder {
  background-image: url(/deveal/images/image-placeholder-white-transparent-500x500.png) !important;
}
/* line 163, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="image"] .image-progress {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  color: #fff;
  text-align: center;
}
/* line 169, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="image"] .sl-block-content {
  overflow: hidden;
}
/* line 171, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="image"] .sl-block-content img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}
/* line 179, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="image"] .sl-block-content svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 187, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="image"] a.sl-block-content {
  color: inherit;
}
/* line 191, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="iframe"] .sl-block-content {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 194, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="iframe"] .sl-block-content iframe {
  width: 100%;
  height: 100%;
}
/* line 199, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="shape"] .sl-block-content {
  line-height: 0;
}
/* line 203, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="code"] .sl-block-placeholder {
  background-image: url(../../images/code-placeholder-white-transparent-500x500.png) !important;
}
/* line 207, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="code"] .sl-block-content pre, .reveal .sl-block[data-block-type="code"] .sl-block-content code {
  width: 100%;
  height: 100%;
  margin: 0;
}
/* line 212, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="code"] .sl-block-content pre {
  font-size: 0.55em;
  padding: 0;
}
/* line 216, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="code"] .sl-block-content code {
  white-space: pre;
  word-wrap: normal;
}
/* line 222, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="math"] {
  font-size: 50px;
}
/* line 224, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="math"] .sl-block-content {
  font-style: normal;
  font-family: KaTeX_Main;
  line-height: 1.4;
}
/* line 229, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="math"] .sl-block-placeholder {
  background-image: url(../../images/math-placeholder-white-transparent-500x500.png) !important;
}
/* line 232, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="math"] .math-input, .reveal .sl-block[data-block-type="math"] .math-output + .math-output {
  display: none;
}
/* line 235, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="math"].is-empty .sl-block-content {
  width: 300px;
  height: 200px;
}
/* line 241, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="table"] .sl-block-content {
  text-align: left;
}
/* line 244, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="table"] .sl-table-column-resizer {
  display: block;
  position: absolute;
  height: 100%;
  width: 9px;
  top: 0;
  margin-left: -4px;
  z-index: 256;
  cursor: col-resize;
  opacity: 0;
  background-color: rgba(27, 174, 225, 0.5);
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
/* line 257, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="table"] .sl-table-column-resizer:hover, .reveal .sl-block[data-block-type="table"] .sl-table-column-resizer.is-dragging {
  opacity: 1;
}
/* line 261, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="table"] table {
  width: 100%;
  empty-cells: show;
  table-layout: fixed;
}
/* line 265, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="table"] table td, .reveal .sl-block[data-block-type="table"] table th {
  padding: 5px;
  min-width: 40px;
  border: 1px solid currentColor;
  vertical-align: top;
  text-align: inherit;
  outline: 0;
  word-break: break-word;
}
/* line 274, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="table"] table td:empty:after, .reveal .sl-block[data-block-type="table"] table th:empty:after, .reveal .sl-block[data-block-type="table"] table td > [contenteditable]:empty:after, .reveal .sl-block[data-block-type="table"] table th > [contenteditable]:empty:after {
  content: '-';
  visibility: hidden;
}
/* line 278, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="table"] table td.context-menu-is-open, .reveal .sl-block[data-block-type="table"] table th.context-menu-is-open {
  background-color: rgba(27, 174, 225, 0.2);
}
/* line 281, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="table"] table td > [contenteditable], .reveal .sl-block[data-block-type="table"] table th > [contenteditable] {
  width: 100%;
  height: 100%;
  outline: 0;
}
/* line 288, ../../scss/deck/deck.scss */
.reveal .sl-block[data-block-type="line"] svg {
  display: block;
  vertical-align: top;
  overflow: visible;
}

/* line 296, ../../scss/deck/deck.scss */
.reveal .sl-block {
  display: block;
  position: absolute;
  z-index: auto;
}
/* line 300, ../../scss/deck/deck.scss */
.reveal .sl-block .sl-block-content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  margin: 0;
  outline: 0;
  word-wrap: break-word;
}
/* line 310, ../../scss/deck/deck.scss */
.reveal .sl-block .sl-block-content .sl-block-content-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
/* line 318, ../../scss/deck/deck.scss */
.reveal .sl-block .sl-block-content > :first-child {
  margin-top: 0;
}
/* line 321, ../../scss/deck/deck.scss */
.reveal .sl-block .sl-block-content > :last-child {
  margin-bottom: 0;
}
/* line 325, ../../scss/deck/deck.scss */
.reveal .sl-block .sl-block-content[data-has-letter-spacing] * {
  letter-spacing: inherit;
}
/* line 328, ../../scss/deck/deck.scss */
.reveal .sl-block .sl-block-content[data-has-line-height] * {
  line-height: inherit;
}
/* line 333, ../../scss/deck/deck.scss */
.reveal .sl-block-content[data-animation-type="fade-in"] {
  opacity: 0;
}
/* line 336, ../../scss/deck/deck.scss */
.reveal.ready section.present > .sl-block .sl-block-content[data-animation-type="fade-in"], .reveal .sl-block-content[data-animation-type="fade-out"] {
  opacity: 1;
}
/* line 339, ../../scss/deck/deck.scss */
.reveal.ready section.present > .sl-block .sl-block-content[data-animation-type="fade-out"] {
  opacity: 0;
}
/* line 342, ../../scss/deck/deck.scss */
.reveal .sl-block-content[data-animation-type="slide-up"] {
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}
/* line 348, ../../scss/deck/deck.scss */
.reveal.ready section.present > .sl-block .sl-block-content[data-animation-type="slide-up"] {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
/* line 354, ../../scss/deck/deck.scss */
.reveal .sl-block-content[data-animation-type="slide-down"] {
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  opacity: 0;
}
/* line 360, ../../scss/deck/deck.scss */
.reveal.ready section.present > .sl-block .sl-block-content[data-animation-type="slide-down"] {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
/* line 366, ../../scss/deck/deck.scss */
.reveal .sl-block-content[data-animation-type="slide-left"] {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  opacity: 0;
}
/* line 372, ../../scss/deck/deck.scss */
.reveal.ready section.present > .sl-block .sl-block-content[data-animation-type="slide-left"] {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
/* line 378, ../../scss/deck/deck.scss */
.reveal .sl-block-content[data-animation-type="slide-right"] {
  -webkit-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
}
/* line 384, ../../scss/deck/deck.scss */
.reveal.ready section.present > .sl-block .sl-block-content[data-animation-type="slide-right"] {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
/* line 390, ../../scss/deck/deck.scss */
.reveal .sl-block-content[data-animation-type="scale-up"] {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0;
}
/* line 396, ../../scss/deck/deck.scss */
.reveal.ready section.present > .sl-block .sl-block-content[data-animation-type="scale-up"] {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
/* line 402, ../../scss/deck/deck.scss */
.reveal .sl-block-content[data-animation-type="scale-down"] {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  opacity: 0;
}
/* line 408, ../../scss/deck/deck.scss */
.reveal.ready section.present > .sl-block .sl-block-content[data-animation-type="scale-down"] {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
/* line 415, ../../scss/deck/deck.scss */
.reveal section .sl-block-content[data-animation-type] {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}
/* line 419, ../../scss/deck/deck.scss */
.reveal section.past > .sl-block .sl-block-content[data-animation-type], .reveal section.future > .sl-block .sl-block-content[data-animation-type] {
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
}
