@font-face {
  font-family: KaTeX_AMS;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_AMS-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_AMS-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_AMS-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_Caligraphic;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Caligraphic-Bold.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Caligraphic-Bold.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Caligraphic-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Caligraphic;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Caligraphic-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Caligraphic-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Caligraphic-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Fraktur;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Fraktur-Bold.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Fraktur-Bold.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Fraktur-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Fraktur;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Fraktur-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Fraktur-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Fraktur-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Main;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Main-Bold.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Main-Bold.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Main-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Main;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Main-Italic.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Main-Italic.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Main-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: KaTeX_Main;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Main-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Main-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Main-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Math;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Math-BoldItalic.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Math-BoldItalic.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Math-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: KaTeX_Math;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Math-Italic.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Math-Italic.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Math-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: KaTeX_Math;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Math-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Math-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Math-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Script;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Script-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Script-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Script-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Size1;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size1-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size1-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size1-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Size2;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size2-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size2-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size2-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Size3;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size3-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size3-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size3-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Size4;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size4-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size4-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Size4-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Typewriter;
  src: url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Typewriter-Regular.woff2) format("woff2"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Typewriter-Regular.woff) format("woff"),
       url(//cdn.jsdelivr.net/gh/KaTeX/katex-fonts/fonts/KaTeX_Typewriter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* line 135, ../../scss/deck/katex.scss */
.katex-display {
  display: block;
  margin: 1em 0;
  text-align: center;
}
/* line 139, ../../scss/deck/katex.scss */
.katex-display > .katex {
  display: inline-block;
}

/* line 144, ../../scss/deck/katex.scss */
.katex {
  font: 400 1.21em KaTeX_Main;
  line-height: 1.2;
  text-indent: 0;
  white-space: nowrap;
}
/* line 149, ../../scss/deck/katex.scss */
.katex .katex-html {
  display: inline-block;
}
/* line 152, ../../scss/deck/katex.scss */
.katex .katex-mathml {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 161, ../../scss/deck/katex.scss */
.katex .base, .katex .strut {
  display: inline-block;
}
/* line 164, ../../scss/deck/katex.scss */
.katex .mathit {
  font-family: KaTeX_Math;
  font-style: italic;
}
/* line 168, ../../scss/deck/katex.scss */
.katex .mathbf {
  font-family: KaTeX_Main;
  font-weight: 700;
}
/* line 172, ../../scss/deck/katex.scss */
.katex .amsrm, .katex .mathbb {
  font-family: KaTeX_AMS;
}
/* line 175, ../../scss/deck/katex.scss */
.katex .mathcal {
  font-family: KaTeX_Caligraphic;
}
/* line 178, ../../scss/deck/katex.scss */
.katex .mathfrak {
  font-family: KaTeX_Fraktur;
}
/* line 181, ../../scss/deck/katex.scss */
.katex .mathtt {
  font-family: KaTeX_Typewriter;
}
/* line 184, ../../scss/deck/katex.scss */
.katex .mathscr {
  font-family: KaTeX_Script;
}
/* line 187, ../../scss/deck/katex.scss */
.katex .mathsf {
  font-family: KaTeX_SansSerif;
}
/* line 190, ../../scss/deck/katex.scss */
.katex .mainit {
  font-family: KaTeX_Main;
  font-style: italic;
}
/* line 196, ../../scss/deck/katex.scss */
.katex .textstyle > .mord + .mop {
  margin-left: 0.16667em;
}
/* line 199, ../../scss/deck/katex.scss */
.katex .textstyle > .mord + .mbin {
  margin-left: 0.22222em;
}
/* line 202, ../../scss/deck/katex.scss */
.katex .textstyle > .mord + .mrel {
  margin-left: 0.27778em;
}
/* line 207, ../../scss/deck/katex.scss */
.katex .textstyle > .mop + .mop, .katex .textstyle > .mop + .mord {
  margin-left: 0.16667em;
}
/* line 211, ../../scss/deck/katex.scss */
.katex .textstyle > .mord + .minner {
  margin-left: 0.16667em;
}
/* line 215, ../../scss/deck/katex.scss */
.katex .textstyle > .mop + .mrel {
  margin-left: 0.27778em;
}
/* line 218, ../../scss/deck/katex.scss */
.katex .textstyle > .mop + .minner {
  margin-left: 0.16667em;
}
/* line 223, ../../scss/deck/katex.scss */
.katex .textstyle > .mbin + .minner, .katex .textstyle > .mbin + .mop, .katex .textstyle > .mbin + .mopen, .katex .textstyle > .mbin + .mord {
  margin-left: 0.22222em;
}
/* line 228, ../../scss/deck/katex.scss */
.katex .textstyle > .mrel + .minner, .katex .textstyle > .mrel + .mop, .katex .textstyle > .mrel + .mopen, .katex .textstyle > .mrel + .mord {
  margin-left: 0.27778em;
}
/* line 233, ../../scss/deck/katex.scss */
.katex .textstyle > .mclose + .mop {
  margin-left: 0.16667em;
}
/* line 236, ../../scss/deck/katex.scss */
.katex .textstyle > .mclose + .mbin {
  margin-left: 0.22222em;
}
/* line 239, ../../scss/deck/katex.scss */
.katex .textstyle > .mclose + .mrel {
  margin-left: 0.27778em;
}
/* line 242, ../../scss/deck/katex.scss */
.katex .textstyle > .mclose + .minner {
  margin-left: 0.16667em;
}
/* line 247, ../../scss/deck/katex.scss */
.katex .textstyle > .minner + .mop, .katex .textstyle > .minner + .mord {
  margin-left: 0.16667em;
}
/* line 252, ../../scss/deck/katex.scss */
.katex .textstyle > .mpunct + .mclose, .katex .textstyle > .mpunct + .minner, .katex .textstyle > .mpunct + .mop, .katex .textstyle > .mpunct + .mopen, .katex .textstyle > .mpunct + .mord, .katex .textstyle > .mpunct + .mpunct, .katex .textstyle > .mpunct + .mrel {
  margin-left: 0.16667em;
}
/* line 257, ../../scss/deck/katex.scss */
.katex .textstyle > .minner + .mbin {
  margin-left: 0.22222em;
}
/* line 260, ../../scss/deck/katex.scss */
.katex .textstyle > .minner + .mrel {
  margin-left: 0.27778em;
}
/* line 265, ../../scss/deck/katex.scss */
.katex .mclose + .mop, .katex .minner + .mop {
  margin-left: 0.16667em;
}
/* line 269, ../../scss/deck/katex.scss */
.katex .mop + .mop, .katex .mop + .mord {
  margin-left: 0.16667em;
}
/* line 273, ../../scss/deck/katex.scss */
.katex .mord + .mop {
  margin-left: 0.16667em;
}
/* line 277, ../../scss/deck/katex.scss */
.katex .textstyle > .minner + .minner, .katex .textstyle > .minner + .mopen, .katex .textstyle > .minner + .mpunct {
  margin-left: 0.16667em;
}
/* line 282, ../../scss/deck/katex.scss */
.katex .reset-textstyle.textstyle {
  font-size: 1em;
}
/* line 285, ../../scss/deck/katex.scss */
.katex .reset-textstyle.scriptstyle {
  font-size: 0.7em;
}
/* line 288, ../../scss/deck/katex.scss */
.katex .reset-textstyle.scriptscriptstyle {
  font-size: 0.5em;
}
/* line 293, ../../scss/deck/katex.scss */
.katex .reset-scriptstyle.textstyle {
  font-size: 1.42857em;
}
/* line 296, ../../scss/deck/katex.scss */
.katex .reset-scriptstyle.scriptstyle {
  font-size: 1em;
}
/* line 299, ../../scss/deck/katex.scss */
.katex .reset-scriptstyle.scriptscriptstyle {
  font-size: 0.71429em;
}
/* line 304, ../../scss/deck/katex.scss */
.katex .reset-scriptscriptstyle.textstyle {
  font-size: 2em;
}
/* line 307, ../../scss/deck/katex.scss */
.katex .reset-scriptscriptstyle.scriptstyle {
  font-size: 1.4em;
}
/* line 310, ../../scss/deck/katex.scss */
.katex .reset-scriptscriptstyle.scriptscriptstyle {
  font-size: 1em;
}
/* line 314, ../../scss/deck/katex.scss */
.katex .style-wrap {
  position: relative;
}
/* line 317, ../../scss/deck/katex.scss */
.katex .vlist {
  display: inline-block;
}
/* line 319, ../../scss/deck/katex.scss */
.katex .vlist > span {
  display: block;
  height: 0;
  position: relative;
}
/* line 323, ../../scss/deck/katex.scss */
.katex .vlist > span > span {
  display: inline-block;
}
/* line 327, ../../scss/deck/katex.scss */
.katex .vlist .baseline-fix {
  display: inline-table;
  table-layout: fixed;
}
/* line 332, ../../scss/deck/katex.scss */
.katex .msupsub {
  text-align: left;
}
/* line 336, ../../scss/deck/katex.scss */
.katex .mfrac > span > span {
  text-align: center;
}
/* line 339, ../../scss/deck/katex.scss */
.katex .mfrac .frac-line {
  width: 100%;
}
/* line 341, ../../scss/deck/katex.scss */
.katex .mfrac .frac-line:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: "";
  display: block;
}
/* line 347, ../../scss/deck/katex.scss */
.katex .mfrac .frac-line:after {
  border-bottom-style: solid;
  border-bottom-width: .04em;
  content: "";
  display: block;
  margin-top: -1px;
}
/* line 356, ../../scss/deck/katex.scss */
.katex .mspace {
  display: inline-block;
}
/* line 358, ../../scss/deck/katex.scss */
.katex .mspace.negativethinspace {
  margin-left: -0.16667em;
}
/* line 361, ../../scss/deck/katex.scss */
.katex .mspace.thinspace {
  width: 0.16667em;
}
/* line 364, ../../scss/deck/katex.scss */
.katex .mspace.mediumspace {
  width: 0.22222em;
}
/* line 367, ../../scss/deck/katex.scss */
.katex .mspace.thickspace {
  width: 0.27778em;
}
/* line 370, ../../scss/deck/katex.scss */
.katex .mspace.enspace {
  width: 0.5em;
}
/* line 373, ../../scss/deck/katex.scss */
.katex .mspace.quad {
  width: 1em;
}
/* line 376, ../../scss/deck/katex.scss */
.katex .mspace.qquad {
  width: 2em;
}
/* line 380, ../../scss/deck/katex.scss */
.katex .llap, .katex .rlap {
  position: relative;
  width: 0;
}
/* line 384, ../../scss/deck/katex.scss */
.katex .llap > .inner, .katex .rlap > .inner {
  position: absolute;
}
/* line 387, ../../scss/deck/katex.scss */
.katex .llap > .fix, .katex .rlap > .fix {
  display: inline-block;
}
/* line 390, ../../scss/deck/katex.scss */
.katex .llap > .inner {
  right: 0;
}
/* line 393, ../../scss/deck/katex.scss */
.katex .rlap > .inner {
  left: 0;
}
/* line 397, ../../scss/deck/katex.scss */
.katex .katex-logo .a {
  font-size: .75em;
  margin-left: -.32em;
  position: relative;
  top: -0.2em;
}
/* line 403, ../../scss/deck/katex.scss */
.katex .katex-logo .t {
  margin-left: -0.23em;
}
/* line 406, ../../scss/deck/katex.scss */
.katex .katex-logo .e {
  margin-left: -.1667em;
  position: relative;
  top: 0.2155em;
}
/* line 411, ../../scss/deck/katex.scss */
.katex .katex-logo .x {
  margin-left: -0.125em;
}
/* line 415, ../../scss/deck/katex.scss */
.katex .rule {
  border-style: solid;
  display: inline-block;
  position: relative;
}
/* line 420, ../../scss/deck/katex.scss */
.katex .overline .overline-line {
  width: 100%;
}
/* line 422, ../../scss/deck/katex.scss */
.katex .overline .overline-line:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: "";
  display: block;
}
/* line 428, ../../scss/deck/katex.scss */
.katex .overline .overline-line:after {
  border-bottom-style: solid;
  border-bottom-width: .04em;
  content: "";
  display: block;
  margin-top: -1px;
}
/* line 437, ../../scss/deck/katex.scss */
.katex .sqrt > .sqrt-sign {
  position: relative;
}
/* line 440, ../../scss/deck/katex.scss */
.katex .sqrt .sqrt-line {
  width: 100%;
}
/* line 442, ../../scss/deck/katex.scss */
.katex .sqrt .sqrt-line:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: "";
  display: block;
}
/* line 448, ../../scss/deck/katex.scss */
.katex .sqrt .sqrt-line:after {
  border-bottom-style: solid;
  border-bottom-width: .04em;
  content: "";
  display: block;
  margin-top: -1px;
}
/* line 456, ../../scss/deck/katex.scss */
.katex .sqrt > .root {
  margin-left: .27777778em;
  margin-right: -0.55556em;
}
/* line 461, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer, .katex .sizing {
  display: inline-block;
}
/* line 464, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size1, .katex .sizing.reset-size1.size1 {
  font-size: 1em;
}
/* line 467, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size2, .katex .sizing.reset-size1.size2 {
  font-size: 1.4em;
}
/* line 470, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size3, .katex .sizing.reset-size1.size3 {
  font-size: 1.6em;
}
/* line 473, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size4, .katex .sizing.reset-size1.size4 {
  font-size: 1.8em;
}
/* line 476, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size5, .katex .sizing.reset-size1.size5 {
  font-size: 2em;
}
/* line 479, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size6, .katex .sizing.reset-size1.size6 {
  font-size: 2.4em;
}
/* line 482, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size7, .katex .sizing.reset-size1.size7 {
  font-size: 2.88em;
}
/* line 485, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size8, .katex .sizing.reset-size1.size8 {
  font-size: 3.46em;
}
/* line 488, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size9, .katex .sizing.reset-size1.size9 {
  font-size: 4.14em;
}
/* line 491, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size1.size10, .katex .sizing.reset-size1.size10 {
  font-size: 4.98em;
}
/* line 494, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size1, .katex .sizing.reset-size2.size1 {
  font-size: 0.71429em;
}
/* line 497, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size2, .katex .sizing.reset-size2.size2 {
  font-size: 1em;
}
/* line 500, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size3, .katex .sizing.reset-size2.size3 {
  font-size: 1.14286em;
}
/* line 503, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size4, .katex .sizing.reset-size2.size4 {
  font-size: 1.28571em;
}
/* line 506, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size5, .katex .sizing.reset-size2.size5 {
  font-size: 1.42857em;
}
/* line 509, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size6, .katex .sizing.reset-size2.size6 {
  font-size: 1.71429em;
}
/* line 512, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size7, .katex .sizing.reset-size2.size7 {
  font-size: 2.05714em;
}
/* line 515, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size8, .katex .sizing.reset-size2.size8 {
  font-size: 2.47143em;
}
/* line 518, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size9, .katex .sizing.reset-size2.size9 {
  font-size: 2.95714em;
}
/* line 521, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size2.size10, .katex .sizing.reset-size2.size10 {
  font-size: 3.55714em;
}
/* line 524, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size1, .katex .sizing.reset-size3.size1 {
  font-size: 0.625em;
}
/* line 527, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size2, .katex .sizing.reset-size3.size2 {
  font-size: 0.875em;
}
/* line 530, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size3, .katex .sizing.reset-size3.size3 {
  font-size: 1em;
}
/* line 533, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size4, .katex .sizing.reset-size3.size4 {
  font-size: 1.125em;
}
/* line 536, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size5, .katex .sizing.reset-size3.size5 {
  font-size: 1.25em;
}
/* line 539, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size6, .katex .sizing.reset-size3.size6 {
  font-size: 1.5em;
}
/* line 542, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size7, .katex .sizing.reset-size3.size7 {
  font-size: 1.8em;
}
/* line 545, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size8, .katex .sizing.reset-size3.size8 {
  font-size: 2.1625em;
}
/* line 548, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size9, .katex .sizing.reset-size3.size9 {
  font-size: 2.5875em;
}
/* line 551, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size3.size10, .katex .sizing.reset-size3.size10 {
  font-size: 3.1125em;
}
/* line 554, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size1, .katex .sizing.reset-size4.size1 {
  font-size: 0.55556em;
}
/* line 557, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size2, .katex .sizing.reset-size4.size2 {
  font-size: 0.77778em;
}
/* line 560, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size3, .katex .sizing.reset-size4.size3 {
  font-size: 0.88889em;
}
/* line 563, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size4, .katex .sizing.reset-size4.size4 {
  font-size: 1em;
}
/* line 566, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size5, .katex .sizing.reset-size4.size5 {
  font-size: 1.11111em;
}
/* line 569, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size6, .katex .sizing.reset-size4.size6 {
  font-size: 1.33333em;
}
/* line 572, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size7, .katex .sizing.reset-size4.size7 {
  font-size: 1.6em;
}
/* line 575, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size8, .katex .sizing.reset-size4.size8 {
  font-size: 1.92222em;
}
/* line 578, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size9, .katex .sizing.reset-size4.size9 {
  font-size: 2.3em;
}
/* line 581, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size4.size10, .katex .sizing.reset-size4.size10 {
  font-size: 2.76667em;
}
/* line 584, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size1, .katex .sizing.reset-size5.size1 {
  font-size: 0.5em;
}
/* line 587, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size2, .katex .sizing.reset-size5.size2 {
  font-size: 0.7em;
}
/* line 590, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size3, .katex .sizing.reset-size5.size3 {
  font-size: 0.8em;
}
/* line 593, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size4, .katex .sizing.reset-size5.size4 {
  font-size: 0.9em;
}
/* line 596, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size5, .katex .sizing.reset-size5.size5 {
  font-size: 1em;
}
/* line 599, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size6, .katex .sizing.reset-size5.size6 {
  font-size: 1.2em;
}
/* line 602, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size7, .katex .sizing.reset-size5.size7 {
  font-size: 1.44em;
}
/* line 605, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size8, .katex .sizing.reset-size5.size8 {
  font-size: 1.73em;
}
/* line 608, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size9, .katex .sizing.reset-size5.size9 {
  font-size: 2.07em;
}
/* line 611, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size5.size10, .katex .sizing.reset-size5.size10 {
  font-size: 2.49em;
}
/* line 614, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size1, .katex .sizing.reset-size6.size1 {
  font-size: 0.41667em;
}
/* line 617, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size2, .katex .sizing.reset-size6.size2 {
  font-size: 0.58333em;
}
/* line 620, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size3, .katex .sizing.reset-size6.size3 {
  font-size: 0.66667em;
}
/* line 623, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size4, .katex .sizing.reset-size6.size4 {
  font-size: 0.75em;
}
/* line 626, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size5, .katex .sizing.reset-size6.size5 {
  font-size: 0.83333em;
}
/* line 629, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size6, .katex .sizing.reset-size6.size6 {
  font-size: 1em;
}
/* line 632, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size7, .katex .sizing.reset-size6.size7 {
  font-size: 1.2em;
}
/* line 635, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size8, .katex .sizing.reset-size6.size8 {
  font-size: 1.44167em;
}
/* line 638, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size9, .katex .sizing.reset-size6.size9 {
  font-size: 1.725em;
}
/* line 641, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size6.size10, .katex .sizing.reset-size6.size10 {
  font-size: 2.075em;
}
/* line 644, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size1, .katex .sizing.reset-size7.size1 {
  font-size: 0.34722em;
}
/* line 647, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size2, .katex .sizing.reset-size7.size2 {
  font-size: 0.48611em;
}
/* line 650, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size3, .katex .sizing.reset-size7.size3 {
  font-size: 0.55556em;
}
/* line 653, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size4, .katex .sizing.reset-size7.size4 {
  font-size: 0.625em;
}
/* line 656, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size5, .katex .sizing.reset-size7.size5 {
  font-size: 0.69444em;
}
/* line 659, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size6, .katex .sizing.reset-size7.size6 {
  font-size: 0.83333em;
}
/* line 662, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size7, .katex .sizing.reset-size7.size7 {
  font-size: 1em;
}
/* line 665, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size8, .katex .sizing.reset-size7.size8 {
  font-size: 1.20139em;
}
/* line 668, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size9, .katex .sizing.reset-size7.size9 {
  font-size: 1.4375em;
}
/* line 671, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size7.size10, .katex .sizing.reset-size7.size10 {
  font-size: 1.72917em;
}
/* line 674, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size1, .katex .sizing.reset-size8.size1 {
  font-size: 0.28902em;
}
/* line 677, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size2, .katex .sizing.reset-size8.size2 {
  font-size: 0.40462em;
}
/* line 680, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size3, .katex .sizing.reset-size8.size3 {
  font-size: 0.46243em;
}
/* line 683, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size4, .katex .sizing.reset-size8.size4 {
  font-size: 0.52023em;
}
/* line 686, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size5, .katex .sizing.reset-size8.size5 {
  font-size: 0.57803em;
}
/* line 689, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size6, .katex .sizing.reset-size8.size6 {
  font-size: 0.69364em;
}
/* line 692, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size7, .katex .sizing.reset-size8.size7 {
  font-size: 0.83237em;
}
/* line 695, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size8, .katex .sizing.reset-size8.size8 {
  font-size: 1em;
}
/* line 698, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size9, .katex .sizing.reset-size8.size9 {
  font-size: 1.19653em;
}
/* line 701, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size8.size10, .katex .sizing.reset-size8.size10 {
  font-size: 1.43931em;
}
/* line 704, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size1, .katex .sizing.reset-size9.size1 {
  font-size: 0.24155em;
}
/* line 707, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size2, .katex .sizing.reset-size9.size2 {
  font-size: 0.33816em;
}
/* line 710, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size3, .katex .sizing.reset-size9.size3 {
  font-size: 0.38647em;
}
/* line 713, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size4, .katex .sizing.reset-size9.size4 {
  font-size: 0.43478em;
}
/* line 716, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size5, .katex .sizing.reset-size9.size5 {
  font-size: 0.48309em;
}
/* line 719, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size6, .katex .sizing.reset-size9.size6 {
  font-size: 0.57971em;
}
/* line 722, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size7, .katex .sizing.reset-size9.size7 {
  font-size: 0.69565em;
}
/* line 725, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size8, .katex .sizing.reset-size9.size8 {
  font-size: 0.83575em;
}
/* line 728, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size9, .katex .sizing.reset-size9.size9 {
  font-size: 1em;
}
/* line 731, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size9.size10, .katex .sizing.reset-size9.size10 {
  font-size: 1.2029em;
}
/* line 734, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size1, .katex .sizing.reset-size10.size1 {
  font-size: 0.2008em;
}
/* line 737, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size2, .katex .sizing.reset-size10.size2 {
  font-size: 0.28112em;
}
/* line 740, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size3, .katex .sizing.reset-size10.size3 {
  font-size: 0.32129em;
}
/* line 743, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size4, .katex .sizing.reset-size10.size4 {
  font-size: 0.36145em;
}
/* line 746, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size5, .katex .sizing.reset-size10.size5 {
  font-size: 0.40161em;
}
/* line 749, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size6, .katex .sizing.reset-size10.size6 {
  font-size: 0.48193em;
}
/* line 752, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size7, .katex .sizing.reset-size10.size7 {
  font-size: 0.57831em;
}
/* line 755, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size8, .katex .sizing.reset-size10.size8 {
  font-size: 0.69478em;
}
/* line 758, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size9, .katex .sizing.reset-size10.size9 {
  font-size: 0.83133em;
}
/* line 761, ../../scss/deck/katex.scss */
.katex .fontsize-ensurer.reset-size10.size10, .katex .sizing.reset-size10.size10 {
  font-size: 1em;
}
/* line 765, ../../scss/deck/katex.scss */
.katex .delimsizing.size1 {
  font-family: KaTeX_Size1;
}
/* line 768, ../../scss/deck/katex.scss */
.katex .delimsizing.size2 {
  font-family: KaTeX_Size2;
}
/* line 771, ../../scss/deck/katex.scss */
.katex .delimsizing.size3 {
  font-family: KaTeX_Size3;
}
/* line 774, ../../scss/deck/katex.scss */
.katex .delimsizing.size4 {
  font-family: KaTeX_Size4;
}
/* line 778, ../../scss/deck/katex.scss */
.katex .delimsizing.mult .delim-size1 > span {
  font-family: KaTeX_Size1;
}
/* line 781, ../../scss/deck/katex.scss */
.katex .delimsizing.mult .delim-size4 > span {
  font-family: KaTeX_Size4;
}
/* line 786, ../../scss/deck/katex.scss */
.katex .nulldelimiter {
  display: inline-block;
  width: 0.12em;
}
/* line 790, ../../scss/deck/katex.scss */
.katex .op-symbol {
  position: relative;
}
/* line 792, ../../scss/deck/katex.scss */
.katex .op-symbol.small-op {
  font-family: KaTeX_Size1;
}
/* line 795, ../../scss/deck/katex.scss */
.katex .op-symbol.large-op {
  font-family: KaTeX_Size2;
}
/* line 799, ../../scss/deck/katex.scss */
.katex .accent > .vlist > span, .katex .op-limits > .vlist > span {
  text-align: center;
}
/* line 803, ../../scss/deck/katex.scss */
.katex .accent .accent-body > span {
  width: 0;
}
/* line 806, ../../scss/deck/katex.scss */
.katex .accent .accent-body.accent-vec > span {
  left: .326em;
  position: relative;
}
/* line 812, ../../scss/deck/katex.scss */
.katex .mtable .vertical-separator {
  border-right: .05em solid #000;
  display: inline-block;
  margin: 0 -0.025em;
}
/* line 817, ../../scss/deck/katex.scss */
.katex .mtable .arraycolsep {
  display: inline-block;
}
/* line 820, ../../scss/deck/katex.scss */
.katex .mtable .col-align-c > .vlist {
  text-align: center;
}
/* line 823, ../../scss/deck/katex.scss */
.katex .mtable .col-align-l > .vlist {
  text-align: left;
}
/* line 826, ../../scss/deck/katex.scss */
.katex .mtable .col-align-r > .vlist {
  text-align: right;
}
