/* quicksand-regular - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('quicksand-v21-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('quicksand-v21-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('quicksand-v21-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('quicksand-v21-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('quicksand-v21-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('quicksand-v21-latin-ext_latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('quicksand-v21-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('quicksand-v21-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('quicksand-v21-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('quicksand-v21-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('quicksand-v21-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('quicksand-v21-latin-ext_latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}