/* oxygen-700 - latin-ext_latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('oxygen-v10-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Oxygen Bold'), local('Oxygen-Bold'),
       url('oxygen-v10-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('oxygen-v10-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('oxygen-v10-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('oxygen-v10-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('oxygen-v10-latin-ext_latin-700.svg#Oxygen') format('svg'); /* Legacy iOS */
}
/* oxygen-regular - latin-ext_latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('oxygen-v10-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oxygen Regular'), local('Oxygen-Regular'),
       url('oxygen-v10-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('oxygen-v10-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('oxygen-v10-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('oxygen-v10-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('oxygen-v10-latin-ext_latin-regular.svg#Oxygen') format('svg'); /* Legacy iOS */
}