/* overpass-regular - latin-ext_latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('overpass-v5-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Overpass Regular'), local('Overpass-Regular'),
         url('overpass-v5-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('overpass-v5-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('overpass-v5-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('overpass-v5-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('overpass-v5-latin-ext_latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
  }
  /* overpass-italic - latin-ext_latin */
  @font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 400;
    src: url('overpass-v5-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Overpass Italic'), local('Overpass-Italic'),
         url('overpass-v5-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('overpass-v5-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('overpass-v5-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
         url('overpass-v5-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('overpass-v5-latin-ext_latin-italic.svg#Overpass') format('svg'); /* Legacy iOS */
  }
  /* overpass-700 - latin-ext_latin */
  @font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    src: url('overpass-v5-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local('Overpass Bold'), local('Overpass-Bold'),
         url('overpass-v5-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('overpass-v5-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('overpass-v5-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('overpass-v5-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('overpass-v5-latin-ext_latin-700.svg#Overpass') format('svg'); /* Legacy iOS */
  }
  /* overpass-700italic - latin-ext_latin */
  @font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 700;
    src: url('overpass-v5-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Overpass Bold Italic'), local('Overpass-BoldItalic'),
         url('overpass-v5-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('overpass-v5-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('overpass-v5-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('overpass-v5-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('overpass-v5-latin-ext_latin-700italic.svg#Overpass') format('svg'); /* Legacy iOS */
  }