/* merriweather-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('merriweather-sans-v13-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('merriweather-sans-v13-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('merriweather-sans-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('merriweather-sans-v13-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('merriweather-sans-v13-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('merriweather-sans-v13-latin-ext_latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: url('merriweather-sans-v13-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('merriweather-sans-v13-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('merriweather-sans-v13-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('merriweather-sans-v13-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('merriweather-sans-v13-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('merriweather-sans-v13-latin-ext_latin-700.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: url('merriweather-sans-v13-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('merriweather-sans-v13-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('merriweather-sans-v13-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('merriweather-sans-v13-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('merriweather-sans-v13-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('merriweather-sans-v13-latin-ext_latin-italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-700italic - latin-ext_latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  src: url('merriweather-sans-v13-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('merriweather-sans-v13-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('merriweather-sans-v13-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('merriweather-sans-v13-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('merriweather-sans-v13-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('merriweather-sans-v13-latin-ext_latin-700italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}