@font-face {
  font-family: KaTeX_AMS;
  src: url(../../fonts/katex/KaTeX_AMS-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_AMS-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_AMS-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_Caligraphic;
  src: url(../../fonts/katex/KaTeX_Caligraphic-Bold.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Caligraphic-Bold.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Caligraphic-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Caligraphic;
  src: url(../../fonts/katex/KaTeX_Caligraphic-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Caligraphic-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Caligraphic-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Fraktur;
  src: url(../../fonts/katex/KaTeX_Fraktur-Bold.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Fraktur-Bold.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Fraktur-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Fraktur;
  src: url(../../fonts/katex/KaTeX_Fraktur-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Fraktur-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Fraktur-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Main;
  src: url(../../fonts/katex/KaTeX_Main-Bold.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Main-Bold.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Main-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Main;
  src: url(../../fonts/katex/KaTeX_Main-Italic.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Main-Italic.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Main-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: KaTeX_Main;
  src: url(../../fonts/katex/KaTeX_Main-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Main-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Main-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Math;
  src: url(../../fonts/katex/KaTeX_Math-BoldItalic.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Math-BoldItalic.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Math-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: KaTeX_Math;
  src: url(../../fonts/katex/KaTeX_Math-Italic.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Math-Italic.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Math-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: KaTeX_Math;
  src: url(../../fonts/katex/KaTeX_Math-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Math-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Math-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Script;
  src: url(../../fonts/katex/KaTeX_Script-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Script-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Script-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Size1;
  src: url(../../fonts/katex/KaTeX_Size1-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Size1-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Size1-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Size2;
  src: url(../../fonts/katex/KaTeX_Size2-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Size2-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Size2-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Size3;
  src: url(../../fonts/katex/KaTeX_Size3-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Size3-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Size3-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Size4;
  src: url(../../fonts/katex/KaTeX_Size4-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Size4-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Size4-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: KaTeX_Typewriter;
  src: url(../../fonts/katex/KaTeX_Typewriter-Regular.woff2) format("woff2"),
       url(../../fonts/katex/KaTeX_Typewriter-Regular.woff) format("woff"),
       url(../../fonts/katex/KaTeX_Typewriter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}


.katex-display {
  display: block;
  margin: 1em 0;
  text-align: center;
  > .katex {
    display: inline-block;
  }
}

.katex {
  font: 400 1.21em KaTeX_Main;
  line-height: 1.2;
  text-indent: 0;
  white-space: nowrap;
  .katex-html {
    display: inline-block;
  }
  .katex-mathml {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .base, .strut {
    display: inline-block;
  }
  .mathit {
    font-family: KaTeX_Math;
    font-style: italic;
  }
  .mathbf {
    font-family: KaTeX_Main;
    font-weight: 700;
  }
  .amsrm, .mathbb {
    font-family: KaTeX_AMS;
  }
  .mathcal {
    font-family: KaTeX_Caligraphic;
  }
  .mathfrak {
    font-family: KaTeX_Fraktur;
  }
  .mathtt {
    font-family: KaTeX_Typewriter;
  }
  .mathscr {
    font-family: KaTeX_Script;
  }
  .mathsf {
    font-family: KaTeX_SansSerif;
  }
  .mainit {
    font-family: KaTeX_Main;
    font-style: italic;
  }
  .textstyle > {
    .mord + {
      .mop {
        margin-left: 0.16667em;
      }
      .mbin {
        margin-left: 0.22222em;
      }
      .mrel {
        margin-left: 0.27778em;
      }
    }
    .mop + {
      .mop, .mord {
        margin-left: 0.16667em;
      }
    }
    .mord + .minner {
      margin-left: 0.16667em;
    }
    .mop + {
      .mrel {
        margin-left: 0.27778em;
      }
      .minner {
        margin-left: 0.16667em;
      }
    }
    .mbin + {
      .minner, .mop, .mopen, .mord {
        margin-left: 0.22222em;
      }
    }
    .mrel + {
      .minner, .mop, .mopen, .mord {
        margin-left: 0.27778em;
      }
    }
    .mclose + {
      .mop {
        margin-left: 0.16667em;
      }
      .mbin {
        margin-left: 0.22222em;
      }
      .mrel {
        margin-left: 0.27778em;
      }
      .minner {
        margin-left: 0.16667em;
      }
    }
    .minner + {
      .mop, .mord {
        margin-left: 0.16667em;
      }
    }
    .mpunct + {
      .mclose, .minner, .mop, .mopen, .mord, .mpunct, .mrel {
        margin-left: 0.16667em;
      }
    }
    .minner + {
      .mbin {
        margin-left: 0.22222em;
      }
      .mrel {
        margin-left: 0.27778em;
      }
    }
  }
  .mclose + .mop, .minner + .mop {
    margin-left: 0.16667em;
  }
  .mop + {
    .mop, .mord {
      margin-left: 0.16667em;
    }
  }
  .mord + .mop {
    margin-left: 0.16667em;
  }
  .textstyle > .minner + {
    .minner, .mopen, .mpunct {
      margin-left: 0.16667em;
    }
  }
  .reset-textstyle {
    &.textstyle {
      font-size: 1em;
    }
    &.scriptstyle {
      font-size: 0.7em;
    }
    &.scriptscriptstyle {
      font-size: 0.5em;
    }
  }
  .reset-scriptstyle {
    &.textstyle {
      font-size: 1.42857em;
    }
    &.scriptstyle {
      font-size: 1em;
    }
    &.scriptscriptstyle {
      font-size: 0.71429em;
    }
  }
  .reset-scriptscriptstyle {
    &.textstyle {
      font-size: 2em;
    }
    &.scriptstyle {
      font-size: 1.4em;
    }
    &.scriptscriptstyle {
      font-size: 1em;
    }
  }
  .style-wrap {
    position: relative;
  }
  .vlist {
    display: inline-block;
    > span {
      display: block;
      height: 0;
      position: relative;
      > span {
        display: inline-block;
      }
    }
    .baseline-fix {
      display: inline-table;
      table-layout: fixed;
    }
  }
  .msupsub {
    text-align: left;
  }
  .mfrac {
    > span > span {
      text-align: center;
    }
    .frac-line {
      width: 100%;
      &:before {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        content: "";
        display: block;
      }
      &:after {
        border-bottom-style: solid;
        border-bottom-width: .04em;
        content: "";
        display: block;
        margin-top: -1px;
      }
    }
  }
  .mspace {
    display: inline-block;
    &.negativethinspace {
      margin-left: -0.16667em;
    }
    &.thinspace {
      width: 0.16667em;
    }
    &.mediumspace {
      width: 0.22222em;
    }
    &.thickspace {
      width: 0.27778em;
    }
    &.enspace {
      width: 0.5em;
    }
    &.quad {
      width: 1em;
    }
    &.qquad {
      width: 2em;
    }
  }
  .llap, .rlap {
    position: relative;
    width: 0;
  }
  .llap > .inner, .rlap > .inner {
    position: absolute;
  }
  .llap > .fix, .rlap > .fix {
    display: inline-block;
  }
  .llap > .inner {
    right: 0;
  }
  .rlap > .inner {
    left: 0;
  }
  .katex-logo {
    .a {
      font-size: .75em;
      margin-left: -.32em;
      position: relative;
      top: -0.2em;
    }
    .t {
      margin-left: -0.23em;
    }
    .e {
      margin-left: -.1667em;
      position: relative;
      top: 0.2155em;
    }
    .x {
      margin-left: -0.125em;
    }
  }
  .rule {
    border-style: solid;
    display: inline-block;
    position: relative;
  }
  .overline .overline-line {
    width: 100%;
    &:before {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      content: "";
      display: block;
    }
    &:after {
      border-bottom-style: solid;
      border-bottom-width: .04em;
      content: "";
      display: block;
      margin-top: -1px;
    }
  }
  .sqrt {
    > .sqrt-sign {
      position: relative;
    }
    .sqrt-line {
      width: 100%;
      &:before {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        content: "";
        display: block;
      }
      &:after {
        border-bottom-style: solid;
        border-bottom-width: .04em;
        content: "";
        display: block;
        margin-top: -1px;
      }
    }
    > .root {
      margin-left: .27777778em;
      margin-right: -0.55556em;
    }
  }
  .fontsize-ensurer, .sizing {
    display: inline-block;
  }
  .fontsize-ensurer.reset-size1.size1, .sizing.reset-size1.size1 {
    font-size: 1em;
  }
  .fontsize-ensurer.reset-size1.size2, .sizing.reset-size1.size2 {
    font-size: 1.4em;
  }
  .fontsize-ensurer.reset-size1.size3, .sizing.reset-size1.size3 {
    font-size: 1.6em;
  }
  .fontsize-ensurer.reset-size1.size4, .sizing.reset-size1.size4 {
    font-size: 1.8em;
  }
  .fontsize-ensurer.reset-size1.size5, .sizing.reset-size1.size5 {
    font-size: 2em;
  }
  .fontsize-ensurer.reset-size1.size6, .sizing.reset-size1.size6 {
    font-size: 2.4em;
  }
  .fontsize-ensurer.reset-size1.size7, .sizing.reset-size1.size7 {
    font-size: 2.88em;
  }
  .fontsize-ensurer.reset-size1.size8, .sizing.reset-size1.size8 {
    font-size: 3.46em;
  }
  .fontsize-ensurer.reset-size1.size9, .sizing.reset-size1.size9 {
    font-size: 4.14em;
  }
  .fontsize-ensurer.reset-size1.size10, .sizing.reset-size1.size10 {
    font-size: 4.98em;
  }
  .fontsize-ensurer.reset-size2.size1, .sizing.reset-size2.size1 {
    font-size: 0.71429em;
  }
  .fontsize-ensurer.reset-size2.size2, .sizing.reset-size2.size2 {
    font-size: 1em;
  }
  .fontsize-ensurer.reset-size2.size3, .sizing.reset-size2.size3 {
    font-size: 1.14286em;
  }
  .fontsize-ensurer.reset-size2.size4, .sizing.reset-size2.size4 {
    font-size: 1.28571em;
  }
  .fontsize-ensurer.reset-size2.size5, .sizing.reset-size2.size5 {
    font-size: 1.42857em;
  }
  .fontsize-ensurer.reset-size2.size6, .sizing.reset-size2.size6 {
    font-size: 1.71429em;
  }
  .fontsize-ensurer.reset-size2.size7, .sizing.reset-size2.size7 {
    font-size: 2.05714em;
  }
  .fontsize-ensurer.reset-size2.size8, .sizing.reset-size2.size8 {
    font-size: 2.47143em;
  }
  .fontsize-ensurer.reset-size2.size9, .sizing.reset-size2.size9 {
    font-size: 2.95714em;
  }
  .fontsize-ensurer.reset-size2.size10, .sizing.reset-size2.size10 {
    font-size: 3.55714em;
  }
  .fontsize-ensurer.reset-size3.size1, .sizing.reset-size3.size1 {
    font-size: 0.625em;
  }
  .fontsize-ensurer.reset-size3.size2, .sizing.reset-size3.size2 {
    font-size: 0.875em;
  }
  .fontsize-ensurer.reset-size3.size3, .sizing.reset-size3.size3 {
    font-size: 1em;
  }
  .fontsize-ensurer.reset-size3.size4, .sizing.reset-size3.size4 {
    font-size: 1.125em;
  }
  .fontsize-ensurer.reset-size3.size5, .sizing.reset-size3.size5 {
    font-size: 1.25em;
  }
  .fontsize-ensurer.reset-size3.size6, .sizing.reset-size3.size6 {
    font-size: 1.5em;
  }
  .fontsize-ensurer.reset-size3.size7, .sizing.reset-size3.size7 {
    font-size: 1.8em;
  }
  .fontsize-ensurer.reset-size3.size8, .sizing.reset-size3.size8 {
    font-size: 2.1625em;
  }
  .fontsize-ensurer.reset-size3.size9, .sizing.reset-size3.size9 {
    font-size: 2.5875em;
  }
  .fontsize-ensurer.reset-size3.size10, .sizing.reset-size3.size10 {
    font-size: 3.1125em;
  }
  .fontsize-ensurer.reset-size4.size1, .sizing.reset-size4.size1 {
    font-size: 0.55556em;
  }
  .fontsize-ensurer.reset-size4.size2, .sizing.reset-size4.size2 {
    font-size: 0.77778em;
  }
  .fontsize-ensurer.reset-size4.size3, .sizing.reset-size4.size3 {
    font-size: 0.88889em;
  }
  .fontsize-ensurer.reset-size4.size4, .sizing.reset-size4.size4 {
    font-size: 1em;
  }
  .fontsize-ensurer.reset-size4.size5, .sizing.reset-size4.size5 {
    font-size: 1.11111em;
  }
  .fontsize-ensurer.reset-size4.size6, .sizing.reset-size4.size6 {
    font-size: 1.33333em;
  }
  .fontsize-ensurer.reset-size4.size7, .sizing.reset-size4.size7 {
    font-size: 1.6em;
  }
  .fontsize-ensurer.reset-size4.size8, .sizing.reset-size4.size8 {
    font-size: 1.92222em;
  }
  .fontsize-ensurer.reset-size4.size9, .sizing.reset-size4.size9 {
    font-size: 2.3em;
  }
  .fontsize-ensurer.reset-size4.size10, .sizing.reset-size4.size10 {
    font-size: 2.76667em;
  }
  .fontsize-ensurer.reset-size5.size1, .sizing.reset-size5.size1 {
    font-size: 0.5em;
  }
  .fontsize-ensurer.reset-size5.size2, .sizing.reset-size5.size2 {
    font-size: 0.7em;
  }
  .fontsize-ensurer.reset-size5.size3, .sizing.reset-size5.size3 {
    font-size: 0.8em;
  }
  .fontsize-ensurer.reset-size5.size4, .sizing.reset-size5.size4 {
    font-size: 0.9em;
  }
  .fontsize-ensurer.reset-size5.size5, .sizing.reset-size5.size5 {
    font-size: 1em;
  }
  .fontsize-ensurer.reset-size5.size6, .sizing.reset-size5.size6 {
    font-size: 1.2em;
  }
  .fontsize-ensurer.reset-size5.size7, .sizing.reset-size5.size7 {
    font-size: 1.44em;
  }
  .fontsize-ensurer.reset-size5.size8, .sizing.reset-size5.size8 {
    font-size: 1.73em;
  }
  .fontsize-ensurer.reset-size5.size9, .sizing.reset-size5.size9 {
    font-size: 2.07em;
  }
  .fontsize-ensurer.reset-size5.size10, .sizing.reset-size5.size10 {
    font-size: 2.49em;
  }
  .fontsize-ensurer.reset-size6.size1, .sizing.reset-size6.size1 {
    font-size: 0.41667em;
  }
  .fontsize-ensurer.reset-size6.size2, .sizing.reset-size6.size2 {
    font-size: 0.58333em;
  }
  .fontsize-ensurer.reset-size6.size3, .sizing.reset-size6.size3 {
    font-size: 0.66667em;
  }
  .fontsize-ensurer.reset-size6.size4, .sizing.reset-size6.size4 {
    font-size: 0.75em;
  }
  .fontsize-ensurer.reset-size6.size5, .sizing.reset-size6.size5 {
    font-size: 0.83333em;
  }
  .fontsize-ensurer.reset-size6.size6, .sizing.reset-size6.size6 {
    font-size: 1em;
  }
  .fontsize-ensurer.reset-size6.size7, .sizing.reset-size6.size7 {
    font-size: 1.2em;
  }
  .fontsize-ensurer.reset-size6.size8, .sizing.reset-size6.size8 {
    font-size: 1.44167em;
  }
  .fontsize-ensurer.reset-size6.size9, .sizing.reset-size6.size9 {
    font-size: 1.725em;
  }
  .fontsize-ensurer.reset-size6.size10, .sizing.reset-size6.size10 {
    font-size: 2.075em;
  }
  .fontsize-ensurer.reset-size7.size1, .sizing.reset-size7.size1 {
    font-size: 0.34722em;
  }
  .fontsize-ensurer.reset-size7.size2, .sizing.reset-size7.size2 {
    font-size: 0.48611em;
  }
  .fontsize-ensurer.reset-size7.size3, .sizing.reset-size7.size3 {
    font-size: 0.55556em;
  }
  .fontsize-ensurer.reset-size7.size4, .sizing.reset-size7.size4 {
    font-size: 0.625em;
  }
  .fontsize-ensurer.reset-size7.size5, .sizing.reset-size7.size5 {
    font-size: 0.69444em;
  }
  .fontsize-ensurer.reset-size7.size6, .sizing.reset-size7.size6 {
    font-size: 0.83333em;
  }
  .fontsize-ensurer.reset-size7.size7, .sizing.reset-size7.size7 {
    font-size: 1em;
  }
  .fontsize-ensurer.reset-size7.size8, .sizing.reset-size7.size8 {
    font-size: 1.20139em;
  }
  .fontsize-ensurer.reset-size7.size9, .sizing.reset-size7.size9 {
    font-size: 1.4375em;
  }
  .fontsize-ensurer.reset-size7.size10, .sizing.reset-size7.size10 {
    font-size: 1.72917em;
  }
  .fontsize-ensurer.reset-size8.size1, .sizing.reset-size8.size1 {
    font-size: 0.28902em;
  }
  .fontsize-ensurer.reset-size8.size2, .sizing.reset-size8.size2 {
    font-size: 0.40462em;
  }
  .fontsize-ensurer.reset-size8.size3, .sizing.reset-size8.size3 {
    font-size: 0.46243em;
  }
  .fontsize-ensurer.reset-size8.size4, .sizing.reset-size8.size4 {
    font-size: 0.52023em;
  }
  .fontsize-ensurer.reset-size8.size5, .sizing.reset-size8.size5 {
    font-size: 0.57803em;
  }
  .fontsize-ensurer.reset-size8.size6, .sizing.reset-size8.size6 {
    font-size: 0.69364em;
  }
  .fontsize-ensurer.reset-size8.size7, .sizing.reset-size8.size7 {
    font-size: 0.83237em;
  }
  .fontsize-ensurer.reset-size8.size8, .sizing.reset-size8.size8 {
    font-size: 1em;
  }
  .fontsize-ensurer.reset-size8.size9, .sizing.reset-size8.size9 {
    font-size: 1.19653em;
  }
  .fontsize-ensurer.reset-size8.size10, .sizing.reset-size8.size10 {
    font-size: 1.43931em;
  }
  .fontsize-ensurer.reset-size9.size1, .sizing.reset-size9.size1 {
    font-size: 0.24155em;
  }
  .fontsize-ensurer.reset-size9.size2, .sizing.reset-size9.size2 {
    font-size: 0.33816em;
  }
  .fontsize-ensurer.reset-size9.size3, .sizing.reset-size9.size3 {
    font-size: 0.38647em;
  }
  .fontsize-ensurer.reset-size9.size4, .sizing.reset-size9.size4 {
    font-size: 0.43478em;
  }
  .fontsize-ensurer.reset-size9.size5, .sizing.reset-size9.size5 {
    font-size: 0.48309em;
  }
  .fontsize-ensurer.reset-size9.size6, .sizing.reset-size9.size6 {
    font-size: 0.57971em;
  }
  .fontsize-ensurer.reset-size9.size7, .sizing.reset-size9.size7 {
    font-size: 0.69565em;
  }
  .fontsize-ensurer.reset-size9.size8, .sizing.reset-size9.size8 {
    font-size: 0.83575em;
  }
  .fontsize-ensurer.reset-size9.size9, .sizing.reset-size9.size9 {
    font-size: 1em;
  }
  .fontsize-ensurer.reset-size9.size10, .sizing.reset-size9.size10 {
    font-size: 1.2029em;
  }
  .fontsize-ensurer.reset-size10.size1, .sizing.reset-size10.size1 {
    font-size: 0.2008em;
  }
  .fontsize-ensurer.reset-size10.size2, .sizing.reset-size10.size2 {
    font-size: 0.28112em;
  }
  .fontsize-ensurer.reset-size10.size3, .sizing.reset-size10.size3 {
    font-size: 0.32129em;
  }
  .fontsize-ensurer.reset-size10.size4, .sizing.reset-size10.size4 {
    font-size: 0.36145em;
  }
  .fontsize-ensurer.reset-size10.size5, .sizing.reset-size10.size5 {
    font-size: 0.40161em;
  }
  .fontsize-ensurer.reset-size10.size6, .sizing.reset-size10.size6 {
    font-size: 0.48193em;
  }
  .fontsize-ensurer.reset-size10.size7, .sizing.reset-size10.size7 {
    font-size: 0.57831em;
  }
  .fontsize-ensurer.reset-size10.size8, .sizing.reset-size10.size8 {
    font-size: 0.69478em;
  }
  .fontsize-ensurer.reset-size10.size9, .sizing.reset-size10.size9 {
    font-size: 0.83133em;
  }
  .fontsize-ensurer.reset-size10.size10, .sizing.reset-size10.size10 {
    font-size: 1em;
  }
  .delimsizing {
    &.size1 {
      font-family: KaTeX_Size1;
    }
    &.size2 {
      font-family: KaTeX_Size2;
    }
    &.size3 {
      font-family: KaTeX_Size3;
    }
    &.size4 {
      font-family: KaTeX_Size4;
    }
    &.mult {
      .delim-size1 > span {
        font-family: KaTeX_Size1;
      }
      .delim-size4 > span {
        font-family: KaTeX_Size4;
      }
    }
  }
  .nulldelimiter {
    display: inline-block;
    width: 0.12em;
  }
  .op-symbol {
    position: relative;
    &.small-op {
      font-family: KaTeX_Size1;
    }
    &.large-op {
      font-family: KaTeX_Size2;
    }
  }
  .accent > .vlist > span, .op-limits > .vlist > span {
    text-align: center;
  }
  .accent .accent-body {
    > span {
      width: 0;
    }
    &.accent-vec > span {
      left: .326em;
      position: relative;
    }
  }
  .mtable {
    .vertical-separator {
      border-right: .05em solid #000;
      display: inline-block;
      margin: 0 -0.025em;
    }
    .arraycolsep {
      display: inline-block;
    }
    .col-align-c > .vlist {
      text-align: center;
    }
    .col-align-l > .vlist {
      text-align: left;
    }
    .col-align-r > .vlist {
      text-align: right;
    }
  }
}