<footer class="global-footer">
  <div class="link-group">
    <h5>Product</h5>
    <a href="#">Terms of Service</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Register</a>
    <a href="#">Log in</a>
  </div>

  <div class="link-group">
    <h5>Help</h5>
    <a href="#" target="_blank">Knowledge Base</a>
    <a href="#" target="_blank">Community</a>
    <a href="#" target="_blank">Customer Service</a>
  </div>

  <div class="link-group">
    <h5>News</h5>
    <a href="#" target="_blank">Press</a>
    <a href="#" target="_blank">Blog</a>
    <a href="#" target="_blank">Twitter</a>
    <a href="#" target="_blank">Instagram</a>
  </div>

  <div class="link-group">
    <h5>Company</h5>
    <a href="#">About</a>
    <a href="#">Team</a>
    <a href="#">Philosophy</a>
    <a href="#">Careers</a>
  </div>

  <div class="copyright">
    <span>© 2020 Son of Beaches</span>
  </div>
</footer>

