<header class="global-header ">
  <div class="wrapper">
    <div class="logo">
      <a class="home" href="/">
	  <h1 style="font-family: 'Raleway', sans-serif; font-weight: 700;">Bubbl.es</h1>
	  <img src="/images/bubbles-logo-35px.svg" height="40" width="40" style="padding-left: 5px;">
      </a>
    </div>
    <ul class="nav ">
<!--      <li class="nav-item" data-page-id="e">
        <a class="nav-item-anchor" href="/explore"><span class="nav-item-label">Explore</span></a>
      </li>
      <li class="nav-item-divider"></li>-->

      <% if not logged_in? %>
    <li class="nav-item" data-page-id="sessions/new">
        <a class="nav-item-anchor" href="/users/sign_in"><span class="nav-item-label">Log in</span></a>
      </li>
      <li class="nav-item nav-item-highlighted nav-item-secondary" data-page-id="static/pricing">
        <%= link_to( { :controller => "users", :action => "new" }, class: "nav-item-anchor") do %>
            <span class="nav-item-label">Sign up</span>
        <% end %>
      </li>
      <% else %>
          <li class="nav-item profile-button">
            <%= link_to(profile_url(current_user.username),class: "nav-item-anchor") do %>
                <span class="nav-item-label"><%= current_user.username %></span>
            <span class="nav-item-burger">
              <span class="nav-item-burger-1"></span>
              <span class="nav-item-burger-2"></span>
              <span class="nav-item-burger-3"></span>
            </span>
            <% end %>

          </li>
      <% end %>
    </ul>
  </div>
</header>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

